[Unit]
Description=Bytebeam Bridge service
After=network.target auditd.service

[Service]
ExecStart=python /mnt/download/bridge.py
KillMode=process
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
