[Unit]
Description=Bytebeam Uplink service
After=network.target auditd.service

[Service]
ExecStart=/mnt/download/uplink -c /mnt/download/config.toml -a /mnt/download/device.json -vvv
KillMode=process
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target

