[Unit]
Description=Bytebeam Root Partition Check Service
After=network.target auditd.service uplink.service

[Service]
ExecStart=/mnt/download/check_root_part.sh
KillMode=process
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
