[Unit]
Description=Bytebeam Startup service
After=network.target auditd.service

[Service]
ExecStart=/mnt/download/startup.sh
KillMode=process
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
