
processes = [{ name = "echo" }]

action_redirections = { "update_firmware" = "install_update", "send_file" = "load_file" }

[tcpapps.1]
port = 5050
actions = [{ name = "install_update" }, { name = "load_file" }]

[persistence]
path = "/tmp/uplink"
max_file_size = 10485760 # 10MB
max_file_count = 3

[simulator]
num_devices = 20
gps_paths = "./paths/"
actions = [
    { name = "update_firmware" },
    { name = "send_file" },
    { name = "lock" },
    { name = "unlock" }
]
