[package]
name = "uplink"
version = "2.8.0"
authors = ["tekjar <raviteja@bytebeam.io>"]
edition = "2021"

[dependencies]
bytes = "1"
flume = "0.10"
rumqttc = { git = "https://github.com/bytebeamio/rumqtt" }
serde = { version = "1", features = ["derive"] }
serde_json = "1.0"
thiserror = "1"
tokio = { version = "1", features = ["full"] }
tokio-util = { version = "0.7", features = ["codec", "time"] }
tokio-stream = "0.1"

# binary utils
anyhow = "1"
axum = "0.6"
config = { version = "0.13.2", default-features = false, features = ["toml", "json"] }
structopt = "0.3"

# serializer
async-trait = "0.1"
lz4_flex = "0.10"
pretty-bytes = "0.2.2"
storage = { path = "../storage" }

# logging
log = "0.4"
regex = "1.7.1"
tracing = { version="0.1", features=["log"] }
tracing-subscriber = { version="=0.3.14", features=["env-filter"] }

# built-in collectors
# tunshell
tokio-compat-02 = "0.2.0"
tunshell-client = { git = "https://github.com/bytebeamio/tunshell.git", branch = "android_patch" }
# simulator
fake = { version = "2.5.0", features = ["derive"] }
rand = "0.8"
# downloader
fs2 = "0.4"
futures-util = "0.3"
human_bytes = "0.4"
reqwest = { version = "0.11", default-features = false, features = ["stream", "rustls-tls"] }
# systemstats
sysinfo = "0.26"
# logcat
lazy_static = "1.4.0"
# installer
tar = "0.4"
# device_shadow
surge-ping = "0.8"

[target.'cfg(target_os = "android")'.dependencies]
time = "0.3"

[target.'cfg(unix)'.dependencies]
signal-hook = "0.3"
signal-hook-tokio = { version = "0.3", features = ["futures-v0_3"] }

[build-dependencies]
vergen = { version = "7", features = ["git", "build", "time"] }

[dev-dependencies]
tempdir = "0.3"
