[package]
name = "uplink"
version = "1.4.1"
authors = ["tekjar <raviteja@bytebeam.io>"]
edition = "2021"

[dependencies]
structopt = "0.3"
config = { version = "0.13.2", default-features = false, features = ["toml", "json"] }
log = "0.4"
simplelog = "0.12"
disk = { path = "../disk" }
tokio = { version = "1", features = ["full"] }
tokio-util = { version = "0.7", features = ["codec", "time"] }
tokio-stream = "0.1"
tokio-compat-02 = "0.2.0"
flume = "0.10"
rumqttc = "0.18"
bytes = "1"
serde = { version = "1", features = ["derive"] }
thiserror = "1"
anyhow = "1"
serde_json = "1.0"
rand = "0.8"
tunshell-client = { git = "https://github.com/bytebeamio/tunshell.git", branch = "android_patch" }
reqwest = { version = "0.11", default-features = false, features = ["stream", "rustls-tls"] }
futures-util = "0.3"
async-trait = "0.1"
sysinfo = "0.26"
lazy_static = "1.4.0"
regex = "1.6.0"
chrono = "0.4.19"
stdio-override = "0.1.3"

[build-dependencies]
vergen = { version = "7", features = ["git", "build", "time"] }

