name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Clippy
      run: cargo clippy --verbose
      env:
          RUSTFLAGS: "-D warnings"
    - name: Run tests
      run: cargo test --verbose

  clippy-android:
    name: Build for aarch64-linux-android
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: sudo apt install unzip
      - run: cargo install cargo-ndk@2.11.0
      - name: Setup Android NDK
        id: ndk
        uses: nttld/setup-ndk@v1.2.0
        with:
          ndk-version: r25b
      - run: cargo ndk --target aarch64-linux-android --platform 23 clippy
        env:
          ANDROID_NDK_HOME: ${{ steps.ndk.outputs.ndk-path }}

